<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">

	<resultMap id="memberResultMap"  type="Member">
		<result column="user_id" property="userId"/>
		<result column="password" property="password"/>
		<result column="user_name" property="userName"/>
		<result column="NICK_NAME" property="nickName"/>
		<result column="EMAIL" property="email"/>
		<result column="PHONE" property="phone"/>
		<result column="GENDER" property="gender"/>
		<result column="BIRTH" property="birth"/>
		<result column="ADDRESS" property="address"/>
		<result column="INTRODUCE" property="introduce"/>
		<result column="P_IMG" property="pfIMG"/>
		<result column="status" property="status"/>
	</resultMap>
	
	<select id="loginMember" resultMap="memberResultMap">
		SELECT * FROM MEMBER
		WHERE USER_ID = #{userId}
				AND STATUS IN('Y','A')
	</select>
	
	<insert id="insertMember">
		INSERT INTO MEMBER VALUES 
		(#{userId}, #{password}, #{userName}, #{nickName}, #{email}, #{phone}, #{gender}, #{birth}, #{address}, null,null,'Y')
	</insert>
	
	<select id="idCheck" resultType="_int">
    	SELECT COUNT(*) FROM MEMBER WHERE USER_ID = #{userId} AND STATUS IN('Y','A')
  	</select>
  	
  	<select id="findId" resultType="String">
    	SELECT USER_ID FROM MEMBER WHERE USER_NAME = #{userName} AND EMAIL = #{email} AND STATUS IN('Y','A')
  	</select>
  	
  	<select id="changePwdUser" resultType="_int">
    	SELECT COUNT(*) FROM MEMBER WHERE USER_ID = #{userId} AND USER_NAME = #{userName} AND EMAIL = #{email} AND STATUS IN('Y','A')
  	</select>
  	
  	<update id="changePassword">
  		UPDATE MEMBER SET PASSWORD = #{password} WHERE USER_ID = #{userId} AND STATUS IN('Y','A')
  	</update>
  	
		
  
</mapper>